.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: rgb(5, 5, 5);
  font-style: italic;
}

.App-header__Form {
  position: absolute;
  top: 10px;
  right: 50px;
  background-color: white;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}

.Form:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
}

.App-header__Button {
  background: transparent;
  border: none !important;
}

.App-header__Message {
  position: absolute;
  top: 100px;
  right: 70px;
  text-align: right;
  width: auto;
  padding-left: 450px;
  word-break: break-word;
}

.MuiSvgIcon-root {
  margin-left: 5px;
}

.MuiIcon-root {
  display: none;
}

.MuiButton-endIcon {
  margin-left: 0px;
}

.MuiButton-containedPrimary {
  background-color: royalblue;
}

.Send {
  font-weight: bold;
}

.App-header__Chats {
  position: absolute;
  left: 50px;
}

.MuiList-padding {
  right: 400px;
}
